{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Tickets</h1>{{tickets|length}}
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<div>
  <a class="btn btn-primary mb-3" href="/tickets/cadastro">Criar novo</a>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Data</th>
        <th>Local</th>
        <th>Categoria</th>
        <th>Responsável</th>
        <th>Prioridade</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
      {% if ticket.status != "concluido" %}
      <tr data-toggle="modal" data-id="{{ ticket.id }}" data-target="#modal-{{ ticket.id }}">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.data }}</td>
        <td>{{ ticket.bloco }}{{ ticket.apt }}</td>
        <td>{{ ticket.categoria }}</td>
        <td>{{ ticket.responsavel }}</td>
        <td><span id="span-prioridade" class="badge badge-success">{{ ticket.prioridade }}</span></td>
        <td>{{ ticket.status }}</td>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="mt-5 text-center">
  <h4>Concluídos</h4>
</div>

<div class="container w-50 d-flex justify-content-center">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Data</th>
        <th>Local</th>
        <th>Categoria</th>
        <th>Responsável</th>
      </tr>
    </thead>
    <tbody>

      {% for ticket in tickets %}
      {% if ticket.status == "concluido" %}
      <tr data-toggle="modal" data-id="{{ ticket.id }}" data-target="#modal-{{ ticket.id }}">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.data }}</td>
        <td>{{ ticket.bloco }}{{ ticket.apt }}</td>
        <td>{{ ticket.categoria }}</td>
        <td>{{ ticket.responsavel }}</td>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal -->
{% for ticket in tickets %}
<div class="modal fade" id="modal-{{ ticket.id }}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Detalhes {{ ticket.id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ ticket.descricao }}</p>
      </div>
      <div class="modal-footer">
        {% if ticket.status == "pendente" %}
        <a href="/tickets/accept/{{ ticket.id }}" class="btn btn-primary">Aceitar</a>
        {% else %}
        <a href="/tickets/done/{{ ticket.id }}" class="btn btn-success">Concluído</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}