{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Pedidos</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<div>
  <a class="btn btn-primary mb-3" href="/pedidos/cadastro">Criar novo</a>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Data</th>
        <th>Local</th>
        <th>Categoria</th>
        <th>Responsável</th>
        <th>Prioridade</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for pedido in pedidos %}
      <tr data-toggle="modal" data-id="{{ pedido.id }}" data-target="#modalExemplo">
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.data }}</td>
        <td>{{ pedido.bloco }}{{ pedido.apt }}</td>
        <td>{{ pedido.categoria }}</td>
        <td>{{ pedido.responsavel }}</td>
        <td><span class="badge badge-success">{{ pedido.prioridade }}</span></td>
        <td>{{ pedido.status }}</td>
        <td></span><span class="mr-2" data-feather="edit"></span><span data-feather="trash"></span>
        </td>
      </tr>
      {% endfor %}
      <tr data-toggle="modal" data-id="2" data-target="#modalExemplo">
        <td>2</td>
        <td>27/06/2020</td>
        <td>H133</td>
        <td>Cobrança</td>
        <td>Bruno</td>
        <td><span class="badge badge-success">Baixa</span></td>
        <td>pendente</td>
        <td></span><span class="mr-2" data-feather="edit"></span><span data-feather="trash"></span>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>27/06/2020</td>
        <td>D235</td>
        <td>Sem sinal</td>
        <td>Bruno</td>
        <td><span class="badge badge-danger">Alta</span></td>
        <td>em andamento</td>
        <td></span><span class="mr-2" data-feather="edit"></span><span data-feather="trash"></span>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>27/06/2020</td>
        <td>C212</td>
        <td>Sem sinal</td>
        <td>Aldinei</td>
        <td><span class="badge badge-warning">Média</span></td>
        <td>em andamento</td>
        <td></span><span class="mr-2" data-feather="edit"></span><span data-feather="trash"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mt-5 text-center">
  <h4>Concluídos</h4>
</div>

<div class="container w-50 d-flex justify-content-center">
  <table class="table table-hover table-sm shadow-lg p-3 mb-5 bg-white rounded">
    <thead>
      <tr>
        <th>#</th>
        <th>Data</th>
        <th>Local</th>
        <th>Categoria</th>
        <th>Responsável</th>
      </tr>
    </thead>
    <tbody>
      <tr data-toggle="modal" data-id="1" data-target="#modalExemplo">
        <td>1</td>
        <td>27/06/2020</td>
        <td>C212</td>
        <td>Instação</td>
        <td>Bruno</td>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Detalhes #1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Cliente aceitou a instação do TWIBI</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}