{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Clientes</h1>{{produtos|length}}
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab" aria-controls="cadastro"
      aria-selected="true">Cadastro</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="controle-debito-tab" data-toggle="tab" href="#controle-debito" role="tab"
      aria-controls="controle-debito" aria-selected="false">Controle de Débitos</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="transacoes-tab" data-toggle="tab" href="#transacoes" role="tab" aria-controls="transacoes"
      aria-selected="false">Transações</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="historico-tab" data-toggle="tab" href="#historico" role="tab" aria-controls="historico"
      aria-selected="false">Histórico Fidelidade</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">
    <form>
      <div class="form-row">
        <div class="form-group col-md-8">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputTipo">Tipo</label>
              <select id="inputTipo" name="estado" class="form-control">
                <option value="FISICA">Pessoa Física</option>
                <option value="JURIDICA">Pessoa Jurídica</option>
                </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputNome">Nome Completo</label>
              <input type="text" class="form-control" id="inputNome">
            </div>
            <div class="form-group col-md-3">
              <label for="inputDataNascimento">Data de Nascimento</label>
              <input type="date" class="form-control" id="inputPassword4">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputCpf">CPF</label>
              <input type="text" class="form-control" id="inputCpf">
            </div>
            <div class="form-group col-md-3">
              <label for="inputRg">RG</label>
              <input type="text" class="form-control" id="inputRg">
            </div>
            <div class="form-group col-md-3">
              <label for="inputTelefone">Telefone</label>
              <input type="text" class="form-control" id="inputTelefone">
            </div>
            <div class="form-group col-md-3">
              <label for="inputCelular">Celular</label>
              <input type="text" class="form-control" id="inputCelular">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputCep">CEP</label>
              <input type="text" class="form-control" id="inputCep" onblur="cepPromise()">
              <div class="invalid-feedback">
                CEP invalido
              </div>
            </div>
            <div class="form-group col-md-9">
              <label for="inputEndereco">Endereço</label>
              <input type="text" class="form-control" id="inputEndereco">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-10">
              <label for="inputComplemento">Complemento</label>
              <input type="text" class="form-control" id="inputComplemento" placeholder="Condomínio/Residencial, Bloco, Apartamento">
            </div>
            <div class="form-group col-md-2">
              <label for="inputRamal">Ramal</label>
              <input type="text" class="form-control" id="inputRamal">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="inputBairro">Bairro</label>
              <input type="text" class="form-control" id="inputBairro">
            </div>
            <div class="form-group col-md-4">
              <label for="inputCidade">Cidade</label>
              <input type="text" class="form-control" id="inputCidade">
            </div>
            <div class="form-group col-md-3">
              <label for="inputEstado">Estado</label>
              <select id="inputEstado" name="estado" class="form-control">
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputZip">&nbsp;</label>
              <img src="/images/perfil.jpg" width="300px" alt="..." class="rounded mx-auto d-block border">
            </div>
          </div>
          <div class="form-row px-4">
            <div class="form-group col-md-12 d-flex justify-content-center">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
<div class="tab-pane fade" id="controle-debito" role="tabpanel" aria-labelledby="controle-debito-tab">
  tesste
</div>
<div class="tab-pane fade" id="transacoes" role="tabpanel" aria-labelledby="contact-tab">...</div>
<div class="tab-pane fade" id="historico" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/cep-promise/dist/cep-promise.min.js"></script>
<script src="javascripts/clientes.js"></script>
{% endblock content %}