{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Controle de Caixa</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div class="card-deck mb-5">
  <div class="card">
    <div class="card-header">TOTAL EM CAIXA</div>
    <div class="card-body">
      <p class="card-text text-center display-3">R$ 138,20</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">SAÍDA</div>
    <div class="card-body">
      <p class="card-text display-4 text-center">R$ 129,00</p>
    </div>
    <div class="card-footer text-center">
      <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal"
        data-target="#entradaModal"><span data-feather="minus"></span>
        Movimentação</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">ENTRADA</div>
    <div class="card-body">
      <p class="card-text display-4 text-center">R$ 90,00</p>
    </div>
    <div class="card-footer text-center">
      <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal"
        data-target="#saidaModal"><span data-feather="plus"></span>
        Movimentação</button></button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">SALDO DO MÊS ANTERIOR</div>
    <div class="card-body">
      <p class="card-text display-4 text-center">R$ 177,20</p>
    </div>
  </div>
</div>

<form class="form-inline mb-3">
  <div class="input-group">
    <label for="inputPassword6" class="mr-3">Buscar</label>
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary mr-3" type="button" id="button-addon2"><span
          data-feather="search"></span></button>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword6">Filtrar por data de</label>
    <input type="date" id="inputPassword6" class="form-control mx-sm-3">
  </div>
  <div class="form-group">
    <label for="inputPassword6">até</label>
    <input type="date" id="inputPassword6" class="form-control mx-sm-3" max="local">
  </div>
  <div class="form-group">
    <label for="inputPassword6">Filtrar por movimentação</label>
    <select name="" id="" class="form-control mx-sm-3">
      <option value="">entrada</option>
      <option value="">saida</option>
    </select>
  </div>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Movimentação</th>
      <th scope="col">Valor</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10-12-2020</td>
      <td>entrada</td>
      <td>R$ 139,90</td>
      <td>G324</td>
    </tr>
    <tr>
      <td>10-12-2020</td>
      <td>entrada</td>
      <td>R$ 89,90</td>
      <td>H131</td>
    </tr>
    <tr>
      <td>10-12-2020</td>
      <td>saida</td>
      <td>R$ 26,00</td>
      <td>Almoço</td>
    </tr>
  </tbody>
</table>

<!-- Modal Entrada -->
<div class="modal fade" id="entradaModal" tabindex="-1" role="dialog" aria-labelledby="entradaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="entradaModalLabel">Movimentação de entrada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Data</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Descrição</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Saída -->
<div class="modal fade" id="saidaModal" tabindex="-1" role="dialog" aria-labelledby="saidaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saidaModalLabel">Movimentação de saída</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Data</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Descrição</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}