{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Controle de Caixa</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div class="card-deck mb-5">
  <div class="card">
    <div class="card-header">TOTAL EM CAIXA</div>
    <div class="card-body">
      <p class="card-text text-center display-4">R$ {{total_caixa}}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">SAÍDA DO MÊS</div>
    <div class="card-body">
      <p class="card-text h1 text-center">R$ {{saida_mes}}</p>
    </div>
    <div class="card-footer text-center">
      <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal"
        data-target="#saidaModal"><span data-feather="minus"></span>
        Movimentação</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">ENTRADA DO MÊS</div>
    <div class="card-body">
      <p class="card-text h1 text-center">R$ {{entrada_mes}}</p>
    </div>
    <div class="card-footer text-center">
      <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal"
        data-target="#entradaModal"><span data-feather="plus"></span>
        Movimentação</button></button>
    </div>
  </div>
</div>

<form class="form-inline mb-3">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Recipient's username"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary mr-3" type="button" id="button-addon2"><span
          data-feather="search"></span></button>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword6">Filtrar por data</label>
    <input type="date" id="inputPassword6" class="form-control mx-sm-3">
  </div>
  <div class="form-group">
    <label for="inputPassword6">até</label>
    <input type="date" id="inputPassword6" class="form-control mx-sm-3" max="local">
  </div>
  <div class="form-group">
    <select name="movimentacao" id="selectMovimentacao" class="form-control mx-sm-3" onchange="selectFilter()">
      <option value="">-- Movimentação --</option>
      <option value="entrada">entrada</option>
      <option value="saida">saida</option>
    </select>
  </div>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Movimentação</th>
      <th scope="col">Valor</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>
  <tbody>
    {% for movimentacao in movimentacoes %}
    <tr id="trMovimentacao">
      <td>{{movimentacao.data}}</td>
      <td id="tdMovimentacao">{{movimentacao.movimentacao}}</td>
      <td>R$ {{movimentacao.valor}}</td>
      <td>{{movimentacao.descricao}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal Entrada -->
<div class="modal fade" id="saidaModal" tabindex="-1" role="dialog" aria-labelledby="saidaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saidaModalLabel">Movimentação de saída</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="financeiro/store" method="POST">
        <div class="modal-body">
          <div class="form-group row">
            <label for="inputData" class="col-sm-2 col-form-label">Data</label>
            <div class="col-sm-10">
              <input type="date" name="data" class="form-control" id="inputData" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputValor" class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-10">
              <input type="text" name="valor" class="form-control" id="inputValor" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDescricao" class="col-sm-2 col-form-label">Descrição</label>
            <div class="col-sm-10">
              <input type="descricao" name="descricao" class="form-control" id="inputDescricao" required>
            </div>
          </div>
          <input type="hidden" name="movimentacao" value="saida">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Saída -->
<div class="modal fade" id="entradaModal" tabindex="-1" role="dialog" aria-labelledby="entradaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="entradaModalLabel">Movimentação de entrada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="financeiro/store" method="POST">
          <div class="modal-body">
            <div class="form-group row">
              <label for="inputData" class="col-sm-2 col-form-label">Data</label>
              <div class="col-sm-10">
                <input type="date" name="data" class="form-control" id="inputData" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputValor" class="col-sm-2 col-form-label">Valor</label>
              <div class="col-sm-10">
                <input type="text" name="valor" class="form-control" id="inputValor" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputDescricao" class="col-sm-2 col-form-label">Descrição</label>
              <div class="col-sm-10">
                <input type="descricao" name="descricao" class="form-control" id="inputDescricao" required>
              </div>
            </div>
            <input type="hidden" name="movimentacao" value="entrada">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
    </div>
  </div>
</div>
<script>

</script>
{% endblock content %}

{% block scripts %}
<script src="/javascripts/financeiro.js"></script>
{% endblock scripts %}