{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Produtos</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<div>
  <a class="btn btn-outline-secondary mb-3" href="/produtos/cadastro">Adicionar novo</a>
  <a class="btn btn-outline-secondary mb-3" href="/produtos/cadastro#categoria">Categoria</a>
  <a class="btn btn-outline-secondary mb-3" href="/produtos/cadastro#fornecedor">Fornecedor</a>

</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Descricao</th>
        <th>Categoria</th>
        <th>Compra</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Estoque</th>
      </tr>
    </thead>
    <tbody>
      {% if protudos|length > 0 %}
      {% for produto in produtos %}
      <tr data-toggle="modal" data-id="{{ produto.id }}" data-target="#modal-{{ produto.id }}">
        <td>{{produto.codigo}}</td>
        <td>{{produto.descricao}}</td>
        <td>{{produto.categoria}}</td>
        <td>{{produto.data_compra}}</td>
        <td>{{produto.marca}}</td>
        <td>{{produto.modelo}}</td>
        <td>{{produto.estoque_atual}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="7">
            nenhum produto cadastrado
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<!-- Modal Categoria -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group mx-sm-3">
            <label for="categoria" class="sr-only">Password</label>
            <input type="text" class="form-control" id="categoria" placeholder="Nova categoria">
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Produtos -->
{% for produto in produtos %}
<div class="modal fade" id="modal-{{ produto.id }}" tabindex="-1" role="dialog"
  aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Detalhes {{produto.descricao}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless table-sm">
          <tbody>
            <tr>
              <th scope="row">Descricao</th>
              <td>{{produto.descricao}}</td>
            </tr>
            <tr>
              <th scope="row">Categoria</th>
              <td>{{produto.categoria}}</td>
            </tr>
            <tr>
              <th scope="row">Data de Compra</th>
              <td>{{produto.data_compra}}</td>
            </tr>
            <tr>
              <th scope="row">Data de Garantia</th>
              <td>{{produto.data_garantia}}</td>
            </tr>
            <tr>
              <th scope="row">Fornecedor</th>
              <td>{{produto.id_fornecedor}}</td>
            </tr>
            <tr>
              <th scope="row">Marca</th>
              <td>{{produto.marca}}</td>
            </tr>
            <tr>
              <th scope="row">Modelo</th>
              <td>{{produto.modelo}}</td>
            </tr>
            <tr>
              <th scope="row">Estoque Atual</th>
              <td>{{produto.estoque_atual}}</td>
            </tr>
            <tr>
              <th scope="row">Estoque Minimo</th>
              <td>{{produto.estoque_minimo}}</td>
            </tr>
            <tr>
              <th scope="row">Estoque Máximo</th>
              <td>{{produto.estoque_maximo}}</td>
            </tr>
            <tr>
              <th scope="row">Unidade de Medida</th>
              <td>{{produto.unidade_medida}}</td>
            </tr>
            <tr>
              <th scope="row">Valor</th>
              <td>{{produto.valor}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <div>
          <a class="btn btn-outline-secondary" href="/produtos/cadastro">Editar</a>
          <a class="btn btn-outline-secondary" href="/produtos/cadastro">Excluir</a>
        </div>
        <div>
          <a href="/seriais?id_produto={{ produto.id }}" class="btn btn-outline-primary">Controle de Serial</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}