{% extends "layout.html" %}

{% block content %}

<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Cadastrar novo produto</h1>
</div>

<div>
  <form action="/produtos/store" method="POST">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputCodigo">Codigo</label>
          <input type="text" name="codigo" class="form-control" id="inputCodigo">
        </div>
        <div class="form-group col-md-6">
          <label for="inputDescricao">Descrição</label>
          <input type="text" name="descricao" class="form-control" id="inputDescricao">
        </div>
        <div class="form-group col-md-2">
          <label for="inputDataCompra">Data de Compra</label>
          <input type="date" name="data_compra" class="form-control" id="inputDataCompra">
        </div>
        <div class="form-group col-md-2">
          <label for="inputDataGarantia">Data de Garantia</label>
          <input type="date" name="data_garantia" class="form-control" id="inputDataGarantia">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputCategoria">Categoria</label>
          <input type="text" name="categoria" class="form-control" id="inputCategoria">
        </div>
        <div class="form-group col-md-3">
          <label for="inputFornecedor">Fornecedor</label>
          <input type="text" name="id_fornecedor" class="form-control" id="inputFornecedor">
        </div>
        <div class="form-group col-md-3">
          <label for="inputMarca">Marca</label>
          <input type="text" name="marca" class="form-control" id="inputMarca">
        </div>
        <div class="form-group col-md-3">
          <label for="inputModelo">Modelo</label>
          <input type="text" name="modelo" class="form-control" id="inputModelo">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputEstoqueAtual">Estoque Atual</label>
          <input type="text" name="estoque_atual" class="form-control" id="inputEstoqueAtual" min="0">
        </div>
        <div class="form-group col-md-2">
          <label for="inputEstoqueMinimo">Estoque Mínimo</label>
          <input type="text" name="estoque_minimo" class="form-control" id="inputEstoqueMinimo" min="0">
        </div>
        <div class="form-group col-md-2">
          <label for="inputEstoqueMaximo">Estoque Máximo</label>
          <input type="text" name="estoque_maximo" class="form-control" id="inputEstoqueMaximo" min="0">
        </div>
        <div class="form-group col-md-3">
          <label for="inputUnidadeMedida">Unidade de Medida</label>
          <input type="text" name="unidade_medida" class="form-control" id="inputUnidadeMedida">
        </div>
        <div class="form-group col-md-3">
          <label for="inputValor">Valor</label>
          <input type="text" name="valor" class="form-control" id="inputValor" min="0">
        </div>
        <div class="form-group col-md-12">
          <label for="textarea">Observação</label>
          <textarea name="observacao" class="form-control" id="textarea" rows="3"></textarea>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>

{% endblock content %}