{% extends "layout.html" %}

{% block content %}

<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Cadastrar novo produto</h1>
</div>

<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="produto-tab" data-toggle="tab" href="#produto" role="tab" aria-controls="produto"
      aria-selected="true">Produto</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="categoria-tab" data-toggle="tab" href="#categoria" role="tab" aria-controls="categoria"
      aria-selected="false">Categoria</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="fornecedor-tab" data-toggle="tab" href="#fornecedor" role="tab" aria-controls="fornecedor"
      aria-selected="false">Fornecedor</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="produto" role="tabpanel" aria-labelledby="produto-tab">
    <form action="/produtos/store" method="POST">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputCodigo">Codigo</label>
          <input type="text" name="codigo" class="form-control" id="inputCodigo">
        </div>
        <div class="form-group col-md-6">
          <label for="inputDescricao">Descrição</label>
          <input type="text" name="descricao" class="form-control" id="inputDescricao">
        </div>
        <div class="form-group col-md-2">
          <label for="inputDataCompra">Data de Compra</label>
          <input type="date" name="data_compra" class="form-control" id="inputDataCompra">
        </div>
        <div class="form-group col-md-2">
          <label for="inputDataGarantia">Data de Garantia</label>
          <input type="date" name="data_garantia" class="form-control" id="inputDataGarantia">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputCategoria">Categoria</label>
          <select name="categoria" id="inputCategoria" class="form-control">
            <option selected>Selecione</option>
            {% for categoria in categorias %}
            <option value="{{categoria.nome}}">{{categoria.nome}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputFornecedor">Fornecedor</label>
          <input type="text" name="id_fornecedor" class="form-control" id="inputFornecedor">
        </div>
        <div class="form-group col-md-3">
          <label for="inputMarca">Marca</label>
          <input type="text" name="marca" class="form-control" id="inputMarca">
        </div>
        <div class="form-group col-md-3">
          <label for="inputModelo">Modelo</label>
          <input type="text" name="modelo" class="form-control" id="inputModelo">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputEstoqueAtual">Estoque Atual</label>
          <input type="text" name="estoque_atual" class="form-control" id="inputEstoqueAtual" min="0">
        </div>
        <div class="form-group col-md-2">
          <label for="inputEstoqueMinimo">Estoque Mínimo</label>
          <input type="text" name="estoque_minimo" class="form-control" id="inputEstoqueMinimo" min="0">
        </div>
        <div class="form-group col-md-2">
          <label for="inputEstoqueMaximo">Estoque Máximo</label>
          <input type="text" name="estoque_maximo" class="form-control" id="inputEstoqueMaximo" min="0">
        </div>
        <div class="form-group col-md-3">
          <label for="inputUnidadeMedida">Unidade de Medida</label>
          <input type="text" name="unidade_medida" class="form-control" id="inputUnidadeMedida">
        </div>
        <div class="form-group col-md-3">
          <label for="inputValor">Valor</label>
          <input type="text" name="valor" class="form-control" id="inputValor" min="0">
        </div>
        <div class="form-group col-md-12">
          <label for="textarea">Observação</label>
          <textarea name="observacao" class="form-control" id="textarea" rows="3"></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>

  <div class="tab-pane fade" id="categoria" role="tabpanel" aria-labelledby="categoria-tab">
    <form action="/categorias/store" method="POST">
      <div class="form-group row">
        <label for="categoria" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-8">
          <input type="text" name="nome" class="form-control" id="categoria">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-secondary">Cadastrar</button>
        </div>
      </div>
    </form>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        {% if categorias|length > 0 %}
        {% for categoria in categorias %}
        <tr>
          <th scope="row">{{categoria.id}}</th>
          <td>{{categoria.nome}}</td>
          <td>editar | excluir</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="3">
              nenhum produto cadastrado
          </td>
        </tr>
        {% endif %}

      </tbody>
    </table>
    
  </div>
  <div class="tab-pane fade" id="fornecedor" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>

<script>
  window.onload = function(){  
  
  var url = document.location.toString();
  console.log(url)
  if (url.match('#')) {
      $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
  }
  
  //Change hash for page-reload
  $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').on('shown', function (e) {
      window.location.hash = e.target.hash;
  }); 
  } 
  </script>
{% endblock content %}

